.Card_main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 450px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 25px;
  border-radius: 10px;
  background-color: rgba(148, 142, 142, 0.7);
}

.Card_main:hover {
  background-color: rgba(73, 124, 114, 0.7);
}

.Card_main img {
  margin-top: 15px;
  border-radius: 10px;
  width: 300px;
}
.Card_main h3:link {
 text-decoration: none;
}


.atributes li{
  list-style: none;
}


