
.searchBar_main input, button {
    margin-left: 6px;
    padding: 5px 5px;
    border-radius: 3px;
    border-color: rgb(0, 0, 0);
    border-width: 0.1em;
  }
  
  .searchBar_main button{
    background-color: rgba(0, 0, 0, 0.7);
    border-style: none;
    cursor: pointer;
    color: rgb(225, 20, 225);
    font-weight: lighter;
    font-size: 15px;
    font-family: Arial;
    text-decoration: none;
  }
  
  .searchBar_main  button:hover{
    background-color: rgba(202, 248, 33, 0.7); 
    box-shadow: 6px 5px 24px #c7a5a5;
    transition-delay: 0.2s;
    transition: 0.8s;
  }
  